## This file is part of Whonix.
## Copyright (C) 2017 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: restart-tor-gui
Section: misc
Priority: optional
Maintainer: troubadour <trobador@riseup.net>
Uploaders: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile, ruby-ronn, python3
Homepage: https://www.whonix.org/
Vcs-Browser: https://github.com/troubadoour/restart-tor-gui
Vcs-Git: https://github.com/troubadoour/restart-tor-gui.git
Standards-Version: 3.9.8

Package: restart-tor-gui
Architecture: all
Depends: ${misc:Depends}, python3, python-pyqt5
Recommends: anon-icon-pack, tor, obfs4proxy
Description: GUI Tor service restart
 restart-tor-gui is a graphical tool for restarting Tor. It shows the
 tor bootstrap sequence in a progress bar. It closes itself two seconds
 after tor bootstrap has completed.
 .
 Error catching is implemented after the restart command. In case of error,
 it displays the output of the "sudo systemctl restart tor@default" command
 in a message box.
 .
 restart-tor-gui is produced independently from the Tor anonymity
 software and carries no guarantee from The Tor Project about quality,
 suitability or anything else.
